.click{
margin:auto;
width: 100%;
border: 2pt solid black;
color: white;
text-align:center;
border-radius: 0px;
font-size:36pt;
}
#sub{
width:auto;
margin: auto;
}
#banner{
background-image: url("banner.png");
font-size:58pt;
color:black;
text-align:center;
width:775px;
height:122px;
margin:auto;
font-family: Papyrus,fantasy;
border: 5pt solid black;
border-radius: 15px;
font-weight:bold;


}
#results{
background-color: #999966;
width:74%;
margin:auto;
border: 1pt solid black;
border-radius:0px;

}
.log_input{
width: auto;
margin: auto;

}
.log{
width:auto;
margin:auto;
font-size:16pt;
}
#main_end{
width:75%;
margin:auto;
}
th{
background-color:brown;
}
.build{
width:100%;
font-size:24pt;
height:48px;
}
#viewer{
width:100%;
font-size:24pt;
height:32px;
}
#showMe{
width:100%;
font-size:24pt;
height:48px;
}
.sand{
width: 25%;
margin: auto;
}
#end_banner{
width:65%;
margin:auto;
color:white;
font-size:18pt;

}
.end{
border: 3pt solid black;
width:65%;
margin:auto;
background-color:#999966;
}
body{
background-color:#669999;
}
.hide{
background-color: #999966;
width: 74%;
margin:auto;
border: 2pt solid black;
border-radius: 0px;
font-size:24pt;
color:white;
}
.first{
width:auto;
margin:auto;
border: 3pt solid black;
background-color:#999966;
}
table{
width:100%;
margin:auto;
}
.click:hover{
border: 2pt solid white;
}
th{
font-size:24pt;
width:100%;
color:white;
text-align:left;
}
#top{
width:75%;
margin:auto;

}
.choice{
width:20%;
}
td{
font-size: 20pt;
width:33%;
color:white;
}
input{
height: 20px;
width: 20px;
}
select{
width: 100%;
margin: auto;
height: 38px;
background-color:gray;
color:white;
font-size:22pt;
text-align:center;
border-radius:15px;
}
#r4{
background-color:cadetblue;
}
#r0{
background-color: #990000;
}
#r1{
background-color:#FF9933;
}
#r2{
background-color:#006B00;
}
#r3{
background-color:brown;
}
div{

}